main {
    background: url('../images/background.jpg');
    background-size: cover;
    min-height: 500px;
}

.title-desc p {
    letter-spacing: 1px; 
    font-size: 30px;
}

.title-text {
    padding-top: 100px;
    padding-bottom: 100px;
}

#coming-soon {
    padding-top: 250px;
    font-size: 18px;
}